<div class="container">
  <!--navbar (title)-->
  <nav>
    <span>Water Jug Problem</span>
  </nav>

  <!--first paragraph (the problem)-->
  <span>What is the Water Jug Problem</span>

  <p>

  </p>

  <!--second paragraph (the solution)-->
  <span>How to solve the Water Jug Problem</span>

  <p>

  </p>

  <!--Test the problem-->
  <form action="">

    <!--Bucket X-->
    <input type="number" name="bucket_x" id="">

    <!--Bucket Y-->
    <input type="number" name="bucket_y" id="">

    <!--Measure Z-->
    <input type="number" name="measure" id="">

    <!--Submit-->

    <input type="submit" value="Subir">

  </form>

  <!--Results table-->

  <app-results-table></app-results-table>
</div>

